[ -f "$PWD/age.key" ] && export SOPS_AGE_KEY_FILE="$PWD/age.key"

use_sops() {
  local path="${1:-$PWD/.envrc.sops.env}"
  if [ -f "$path" ]; then
    set -a
    eval "$(sops -d "$path")"
    set +a
    watch_file "$path"
  fi
}
use_sops
