cmake-build-*
.idea
.cache/
build/
.vscode/
third_party/
packaging/archlinux/*
!packaging/archlinux/linux-wallpaperengine/PKGBUILD
!packaging/archlinux/linux-wallpaperengine-core/PKGBUILD
*-protocol.o
*-protocol.c
*-protocol.h