[submodule "src/External/glslang-WallpaperEngine"]
	path = src/External/glslang-WallpaperEngine
	url = https://github.com/Almamu/glslang-WallpaperEngine.git
[submodule "src/External/SPIRV-Cross-WallpaperEngine"]
	path = src/External/SPIRV-Cross-WallpaperEngine
	url = https://github.com/Almamu/SPIRV-Cross-WallpaperEngine.git
